.bubbles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;

    span {
        position: relative;
        height: 60px;
        width: 60px;
        background: rgba(255, 255, 255, 0.1);
        animation: move 10s linear infinite;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 60px;
            width: 40%;
            background: rgba(255, 255, 255, .1);
            transform: skew(45deg) translateX(150px);
            animation: mirror 3s linear infinite;
        }
    }

    .one {
        animation-delay: 2.2s;
        transform: scale(2.95);

        &::before {
            animation-delay: 1.5s;
        }
    }

    .two {
        animation-delay: 3.2s;
        transform: scale(1.55);

        &::before {
            animation-delay: 3.5s;
        }
    }

    .three {
        animation-delay: .2s;
        transform: scale(.35);

        &::before {
            animation-delay: 2.5s;
        }
    }

    .four {
        animation-delay: 6s;
        transform: scale(2.15);

        &::before {
            animation-delay: 7.5s;
        }
    }

    .five {
        animation-delay: 7s;
        transform: scale(.5);

        &::before {
            animation-delay: 4.5s;
        }
    }

    .six {
        animation-delay: 4s;
        transform: scale(2.5);

        &::before {
            animation-delay: 0.5s;
        }
    }

    .seven {
        animation-delay: 3s;
        transform: scale(1.5);

        &::before {
            animation-delay: 6s;
        }
    }
}

@keyframes move {
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes mirror {
    100% {
        transform: translateX(-250px);
    }
}